@keyframes loader-background {
  0% {
    width: 100%;
    height: 100%;
    background-color: hsla(0deg, 0%, 100%, 0.9);
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: hsla(0deg, 0%, 100%, 0.9);
  }
}
@keyframes roll-in {
  0% {
    transform: scale(0) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes menu-plate-loading {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes loading_spinner {
  from {
    transform: translateY(-20px);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0.5;
  }
}
@keyframes loading_spinner {
  from {
    transform: translateY(-20px);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0.5;
  }
}

@-webkit-keyframes background_loading {
  from {
    opacity: 1;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 200;
  }
  to {
    opacity: 1;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 200;
  }
}
@keyframes background_loading {
  from {
    opacity: 1;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 200;
  }
  to {
    opacity: 1;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 200;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "roboto-regular";
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*loading spinner*/
.loadingspinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-animation: 2s background_loading backwards;
          animation: 2s background_loading backwards;
  position: absolute;
  top: -1000px;
  opacity: 0;
}
.loadingspinner div {
  font-size: 30px;
  animation: loading_spinner 0.4s infinite alternate-reverse both;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.loadingspinner .spinner1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  color: #9356DC;
}
.loadingspinner .spinner2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  color: #FF79DA;
}
.loadingspinner .spinner3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  color: #99E2D0;
}
.loadingspinner .spinner4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  color: #9356DC;
}
.loadingspinner .spinner5 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  color: #FF79DA;
}
.loadingspinner .spinner6 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: #99E2D0;
}

/*fin loading spinner*/

main {
  width: 100%;
  max-width: 1440px;
  flex: 1 0 auto;
  background: #f6f6f6;
}
@media screen and (min-width: 1440px) {
  main {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
  }
}
a {
    text-decoration: none;
    color: black;
  }
  
  li {
    list-style-type: none;
  }
  
  h1 {
    font-family: "shrikhand";
    font-size: 2.8rem;
    font-weight: 100;
    margin: 0;
  }
  
  h2 {
    font-size: 2.2rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h2::first-letter,
  h3::first-letter,
  span::first-letter,
  p::first-letter {
    text-transform: capitalize;
  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "roboto-regular";
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@font-face {
    font-family: "roboto-regular";
    src: url("../assets/font/roboto/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "shrikhand";
    src: url("../assets/font/shrikhand/shrikhand.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  button {
    width: fit-content;
    padding: 1.6rem 2.2rem;
    background: linear-gradient(to top left, #9356dc, #ff79da);
    border-radius: 3rem;
    border-style: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    color: white;
    transition: box-shadow 250ms, filter 250ms;
  }
  button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    filter: brightness(105%);
  }
  
  .fa-heart {
    font-size: 2.8rem;
    position: relative;
    cursor: pointer;
  }
  
  .fa-heart::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background-image: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: opacity ease-in-out 600ms, filter ease-in-out 500ms, transform ease-in-out 300ms;
  }
  
  .fa-heart:hover::after {
    opacity: 1;
    filter: brightness(110%);
    transform: scale(1);
  }
  
  .homePage__header {
    text-align: center;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .location {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .location > p {
    font-weight: bold;
    color: #353535;
    width: 100%;
    padding: 1.5rem 0;
    background: #e3e3e3;
    box-shadow: inset 0rem 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
  }
  .location > p > i {
    padding-right: 1.5rem;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
  }
  .information > h2 {
    margin-top: 3.8rem;
  }
  .information > p {
    font-size: 1.8rem;
    margin-top: 2.2rem;
    padding: 0 3rem;
  }
  .information > button {
    align-self: center;
    margin-top: 3.4rem;
    margin-bottom: 5rem;
  }
  .instruction {
    width: 90%;
    margin-top: 4.8rem;
    margin-bottom: 6.6rem;
  }
  .instruction > h2 {
    margin-bottom: 3rem;
  }
  @media screen and (min-width: 1440px) {
    .instruction {
      max-width: 1360px;
    }
  }
  
  .instructionCards {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  @media screen and (min-width: 768px) {
    .instructionCards {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      gap: 5rem;
    }
  }
  
  .instructionCard {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    border-radius: 2.4rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #f6f6f6;
  }
  .instructionCard:hover {
    cursor: pointer;
    background-color: rgba(146, 86, 220, 0.1294117647);
  }
  .instructionCard:hover > i {
    color: #9356dc;
  }
  .instructionCard__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3.5rem;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #f6f6f6;
    background: #9356dc;
  }
  .instructionCard > i {
    position: relative;
    right: 2rem;
    color: grey;
  }
  .instructionCard > p {
    font-weight: bold;
  }
  @media screen and (min-width: 768px) {
    .instructionCard {
      width: 100%;
    }
  }
  
  .restaurants {
    background: #f6f6f6;
    padding: 5.8rem 2.2rem;
  }
  .restaurants > h2 {
    margin-bottom: 2.2rem;
  }
  @media screen and (min-width: 768px) {
    .restaurants {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  @media screen and (min-width: 1440px) {
    .restaurants {
      border-top-right-radius: 3rem;
      border-top-left-radius: 3rem;
    }
  }
  
  .restaurantsCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 250px);
    gap: 2rem;
  }
  @media screen and (min-width: 768px) {
    .restaurantsCards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 250px);
      gap: 4rem;
    }
  }
  
  .restaurants {
    background: #f6f6f6;
    padding: 5.8rem 2.2rem;
  }
  .restaurants > h2 {
    margin-bottom: 2.2rem;
  }
  @media screen and (min-width: 768px) {
    .restaurants {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  @media screen and (min-width: 1440px) {
    .restaurants {
      border-top-right-radius: 3rem;
      border-top-left-radius: 3rem;
    }
  }
  
  .restaurantsCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 250px);
    gap: 2rem;
  }
  @media screen and (min-width: 768px) {
    .restaurantsCards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 250px);
      gap: 4rem;
    }
  }
  
  .restaurantCard {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.1);
    transition: 300ms;
  }
  .restaurantCard:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
  .restaurantCard__img {
    height: 70%;
  }
  .restaurantCard__img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .restaurantCard__new {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    padding: 0.7rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #2c9c81;
    background: #99e2d0;
  }
  .restaurantCard__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-right: 2.2rem;
    margin-left: 1.4rem;
    line-height: 2.4rem;
  }
  
  .restaurantPage__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0;
  }
  .restaurantPage__header > a {
    position: absolute;
    left: 2.2rem;
  }
  
  .restaurantPage__img {
    width: 100%;
    height: 260px;
  }
  .restaurantPage__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .menu_header {
    position: relative;
    margin-top: -5.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    padding-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    background: #f6f6f6;
  }
  .menu_header > h2 {
    font-size: 2.8rem;
    font-weight: lighter;
    font-family: "shrikland";
  }
  @media screen and (min-width: 992px) {
    .menu__header {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .menu {
    padding: 3.2rem 2.2rem;
    background: #f6f6f6;
  }
  @media screen and (min-width: 992px) {
    .menu {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .course {
    min-width: 0;
  }
  @media screen and (min-width: 992px) {
    .course {
      width: 100%,
    }
  }
  .course > h3 {
    font-size: 1.6rem;
    font-weight: lighter;
    text-transform: uppercase;
  }
  .course > h3::after {
    content: "";
    display: block;
    width: 45px;
    height: 3px;
    background: #99e2d0;
    margin-top: 0.5rem;
  }

  
  
  
 

footer {
  width: 100%;
  background: #353535;
  color: white;
  padding: 2.2rem;
}
footer > p {
  font-family: "shrikhand";
  font-size: 1.8rem;
}
footer > ul {
  margin-top: 2.2rem;
}
footer li {
  margin: 0.8rem 0;
}
footer i {
  font-size: 1.2rem;
}
footer .fa-utensils {
  margin-right: 1.4rem;
}
footer .fa-handshake-angle {
  margin-right: 0.9rem;
}
footer a {
  color: white;
}
footer li:hover {
  color: #9356dc;
}
footer li:hover a {
  color: #9356dc;
}
@media screen and (min-width: 1440px) {
  footer p,
footer ul {
    width: 1440px;
    margin: auto;
  }
  footer ul {
    margin-top: 2.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
