*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'roboto-regular';
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;

  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1440px;
  flex: 1 0 auto;

  background: $light-grey;
  @include large {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'shrikhand';
  font-size: 2.8rem;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h2,
h3,
span,
p {
  &::first-letter {
    text-transform: capitalize;
  }
}
